:root {
	/* Colors */
	--main-color: #1e1e1e;
	--secondary-color: #c4d6b0;
	--content-color: #fff;
	--tertiary-color: #666666;
	--tertiary-font-color: #000;
	--title-color: #fff;

	--error-back-color: rgba(150, 0, 0, 0.7);

	--rating-positive-color: green;
	--rating-negative-color: red;


	/* Font sizes */

	--fontsize-x-large: 2rem;
	--fontsize-large: 1.5rem;

	--fontsize-medium1: 1rem;
	--fontsize-medium2: 0.8rem;
		
	--fontsize-small: 0.6rem;
	
	/* Font weights */
	--fontweight-1: 600;
	--fontweight-2: 500;

	/* Font families */

	--main-font: 'Poppins', sans-serif;
}


*,
a {
	font-family: var(--main-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
div,
span {
	color: var(--content-color);
}

body {
	background-color: var(--main-color);
}

@media (max-width: 800px) {
	* {
		font-size: var(--fontsize-medium2);
	}
}
