:root {
	/* Colors */
	--main-color: #292626;
	--secondary-color: #D22D19;
	--content-color: #EBEBEB;
	--title-color: #FFF6F6;
	--secondary-bg-color: #4F4B4B;
	--not-chosen-font-color: #AFAFAF;

	--error-back-color: rgba(150, 0, 0, 0.7);

	--rating-positive-color: #2CA800;
	--rating-negative-color: #FF0000;

	/* Font sizes */

	--fontsize-x-large: 2rem;
	--fontsize-large: 1.5rem;

	--fontsize-medium1: 1rem;
	--fontsize-medium2: 0.8rem;

	--fontsize-small: 0.6rem;

	/* Font weights */
	--fontweight-1: 600;
	--fontweight-2: 500;

	/* Font families */

	--main-font: 'Poppins', sans-serif;
}

[color-scheme='light'] {
	--main-color: #FFFFFF;
	--content-color: #373A3D;
	--title-color: #2b2b2b;
	--secondary-bg-color: #DE9B8A;
	--not-chosen-font-color: #373A3D;
}

*,
a {
	font-family: var(--main-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ul,
div,
span {
	color: var(--content-color);
}

body {
	background-color: var(--main-color);
}

@media (max-width: 800px) {
	* {
		font-size: var(--fontsize-medium2);
	}
}
